---
openstack:
  endpoint: http://192.168.139.3:5000/v2.0
  username: admin
  api_key: sekret
  server_name: bosh-lite
  flavor: m1.xlarge
  image: ubu-14.04
  tenant_name: tennant_name
  ip_pool: ""
  networks:
    - net1
  nova_keypair_name: keyname
  private_key_path: ~/.ssh/sekrets.pem
  ssh_username: ubuntu
